# Big Data Modeling and Management Assigment - Homework 1

# Submission

GROUP NUMBER: **XXXXXX** - please add your group number into the file name

GROUP MEMBERS:

|STUDENT NAME|STUDENT NUMBER|
|---|---|
|Gaspar Pereira|20230984|
|Ãris Moreira|20240659|
|Jude Gbenimako|20240700|
|Rita Wang|20240551|

## ðŸº The Beer project  ðŸº 

As it was shown in classes, graph databases are a natural way of navegating related information. For this first project we will be taking a graph database to analyse beer and breweries!   

The project datasets are based on [kaggle](https://www.kaggle.com/ehallmar/beers-breweries-and-beer-reviews), released by Evan Hallmark. 

### Problem description

Imagine you are working in the Data Management department of Analytics company.
Explore the database via python neo4j connector and/or the graphical tool in the NEO4J webpage. Answer the questions while adjusting the database to meet the needs of your colleagues.
Please record and keep track of your database changes, and submit the file with all cells run and with the output shown.

### Questions

1. Explore the database: get familiar with current schema, elements and other important database parameters. [1 point]
2. Adjust the database and mention reasoning behind: e.g. clean errors, remove redundancies, adjust schema as necessary. Visualize the final version of database schema. [4 points]
3. Analytics department requires the following information for the biweekly reporting: [5 points]
    1. How many reviews has the beer with the most reviews?
    2. Which three users wrote the most reviews about beers?
    3. Find all beers that are described with following words: 'fruit', 'complex', 'nutty', 'dark'.
    4. Which top three breweries produce the largest variety of beer styles?
    5. Which country produces the most beer styles?
4. Market Analysis department in your company accesses and updates the trends data on the daily basis. Given that, consider how you need to optimize the database and its performance so that the following queries are efficient. Measure performance to communicate your improvements using PROFILE before final query. Answer the following: [4 points]
    1. Using ABV score, find five strongest beers, display their ABV score and the corresponding brewery? Keep in mind that the strongest known beer is Snake Venom, and deal with the error entries in the database.
    2. Using the answer from question 2, find the top 5 distict beer styles with the highest average score of smell + feel that were reviewed by the third most productive user. Keep in mind that cleaning the database earlier should ensure correct results.
5. Answer **two out of four** of the following questions using Graph Algorithms (gds): [NB: make sure to clear the graph before using it again] For the quarterly report, Analytics department the follownig information. [6 points]
    1. Which two countries are most similiar when it comes to their top five most produced Beer styles?
    2. Which beer is the most popular when considering the number of users who reviewed it? 
    3. Users are connected together by their reviews of beers, taking into consideration the "smell" score they assign as a weight, how many communities are formed from these relationships? How many users are in the three largest communities? 
    4. Which user is the most influential when it comes to reviews of distinct beers by style?
 
### Groups  

Groups should have 4 people maximum. Please mark which group you are here: https://shorturl.at/zE0QP 

### Submission      

The code used to produce the results and to-the-point explations should be uploaded to moodle. They should have a clear reference to the group, either on the file name or on the document itself. Preferably one Jupyter notebook per group.

Delivery date: Until the **midnight of March 18, 2025**

### Evaluation   

This will be 20% of the final grade.   
Each solution will be evaluated on 2 components: correctness of results and efficiency of the query (based on database schema).  
All code will go through plagiarism automated checks. Groups with the same code will undergo investigation.

## Loading the Database

#### Be sure that you **don't have** the neo4j docker container from the classes running (you can Stop it in the desktop app or with the command "`docker stop Neo4JLab`")


The default container does not have any data whatsoever, we will have to load a database into our docker image:
- Download and unzip the `Neo4JHWData` file provided in Moodle.
- Copy the path of the `Neo4JHWData` folder of the unziped file, e.g. `C:/PATH/Neo4JHWData/data`.
- Download and unzip the `Neo4JPlugins` file provided in Moodle.
- Copy the path of the `Neo4JPlugins` folder of the unziped file, e.g. `C:/PATH/Neo4Jplugins`.
- Change the code below accordingly. As you might have noticed, you do not have a user called `nunoa`, please use the appropriate path that you got from the previous step. Be sure that you have a neo4j docker container running: \

`docker run --name Neo4JHW2025 -p 7474:7474 -p 7687:7687 -d -v "c:\PATH\Neo4JPlugins":/plugins -v "c:\PATH\Neo4JHWData\data":/data --env NEO4J_AUTH=neo4j/test --env NEO4J_dbms_connector_https_advertised__address="localhost:7473" --env NEO4J_dbms_connector_http_advertised__address="localhost:7474" --env NEO4J_dbms_connector_bolt_advertised__address="localhost:7687" --env NEO4J_dbms_security_procedures_unrestricted=gds.* --env NEO4J_dbms_security_procedures_allowlist="gds.*" neo4j:4.4.5`

- Since Neo4j is trying to recognize a new database folder, this might take a bit (let's say 3 minutes), so don't worry.

If the neo4j browser fails to load gds plugins, run the following in the Command Prompt before creating the container again:
`// Remove stopped containers //
docker container prune -f
// Remove unused images //
docker image prune -a -f
// Remove unused volumes //
docker volume prune -f
// Remove unused networks //
docker network prune -f
// Remove all unused resources in one command //
docker system prune -a -f`

In [6]:
from neo4j import GraphDatabase
from pprint import pprint

In [2]:
NEO4J_URI="neo4j://localhost:7687"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="test"

In [3]:
driver = GraphDatabase.driver(NEO4J_URI, auth=(NEO4J_USERNAME, NEO4J_PASSWORD), )

In [4]:
def execute_read(driver, query):    
    with driver.session(database="neo4j") as session:
        result = session.execute_read(lambda tx, query: list(tx.run(query)), query)
    return result

In [5]:
def execute_write(driver, query):
    with driver.session(database="neo4j") as session:
        # Write transactions allow the driver to handle retries and transient errors
        result = session.execute_write(lambda tx, query: list(tx.run(query)), query)
    return result

# Question 1: Exploring the database

## 1.1 Labels, Relationships and Properties

> Let's start by checking the labels in our database:

In [13]:
query = """
       call db.labels();
       """

result = execute_read(driver, query)

pprint(result)

[<Record label='COUNTRIES'>,
 <Record label='CITIES'>,
 <Record label='BREWERIES'>,
 <Record label='BEERS'>,
 <Record label='REVIEWS'>,
 <Record label='STYLE'>,
 <Record label='USER'>]

In [14]:
labels = ['COUNTRIES','CITIES','BREWERIES','BEERS','REVIEWS','STYLE','USER']

> Check the number of nodes for each label

In [15]:
for label in labels:
    query = f"""
        MATCH (n:{label})
        RETURN COUNT(n) AS count
        """
    
    result = execute_read(driver, query)
    print(f"Label: {label}, Count: {result[0]['count']}")

Label: COUNTRIES, Count: 400
Label: CITIES, Count: 23330
Label: BREWERIES, Count: 100694
Label: BEERS, Count: 417746
Label: REVIEWS, Count: 2549271
Label: STYLE, Count: 113
Label: USER, Count: 123935

> Relationships:

In [16]:
query = """
        CALL db.relationshipTypes();
       """

result = execute_read(driver, query)

pprint(result)

[<Record relationshipType='REVIEWED'>,
 <Record relationshipType='BREWED'>,
 <Record relationshipType='IN'>,
 <Record relationshipType='HAS_STYLE'>,
 <Record relationshipType='POSTED'>]

In [18]:
relationships = ['REVIEWED','BREWED','IN','HAS_STYLE','POSTED']

In [19]:
for relationship in relationships:
    query = f"""
        MATCH ()-[r:{relationship}]->()
        RETURN COUNT(r) AS count
        """
    
    result = execute_read(driver, query)
    print(f"Relationship: {relationship}, Count: {result[0]['count']}")

Relationship: REVIEWED, Count: 2537991
Relationship: BREWED, Count: 358873
Relationship: IN, Count: 62424
Relationship: HAS_STYLE, Count: 358873
Relationship: POSTED, Count: 2538044

> Properties:

In [20]:
query = """
        CALL db.propertyKeys();
        """

result = execute_read(driver, query)

pprint(result)

[<Record propertyKey='name'>,
 <Record propertyKey='types'>,
 <Record propertyKey='notes'>,
 <Record propertyKey='state'>,
 <Record propertyKey='id'>,
 <Record propertyKey='abv'>,
 <Record propertyKey='retired'>,
 <Record propertyKey='availability'>,
 <Record propertyKey='brewery_id'>,
 <Record propertyKey='date'>,
 <Record propertyKey='score'>,
 <Record propertyKey='taste'>,
 <Record propertyKey='feel'>,
 <Record propertyKey='overall'>,
 <Record propertyKey='beer_id'>,
 <Record propertyKey='text'>,
 <Record propertyKey='smell'>,
 <Record propertyKey='look'>]

In [21]:
properties = ['name','types','notes','state','id','abv','retired','availability',\
              'brewery_id','date','score','taste','feel','overall','beer_id',\
              'text','smell','look']

## 1.2 What labels are connected by each relationship type?

> Let's take a look at the schema:

In [22]:
query = """
        CALL db.schema.visualization();
        """

result = execute_read(driver, query)
pprint(result)

[<Record nodes=[<Node element_id='-5' labels=frozenset({'REVIEWS'}) properties={'name': 'REVIEWS', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-4' labels=frozenset({'BEERS'}) properties={'name': 'BEERS', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-1' labels=frozenset({'COUNTRIES'}) properties={'name': 'COUNTRIES', 'indexes': ['name'], 'constraints': []}>, <Node element_id='-3' labels=frozenset({'BREWERIES'}) properties={'name': 'BREWERIES', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-6' labels=frozenset({'STYLE'}) properties={'name': 'STYLE', 'indexes': ['name'], 'constraints': []}>, <Node element_id='-2' labels=frozenset({'CITIES'}) properties={'name': 'CITIES', 'indexes': ['name'], 'constraints': []}>, <Node element_id='-7' labels=frozenset({'USER'}) properties={'name': 'USER', 'indexes': ['name'], 'constraints': []}>] relationships=[<Relationship element_id='-1' nodes=(<Node element_id='-4' labels=frozenset({'BEERS'}) properties={'name': 'BEERS', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-5' labels=frozenset({'REVIEWS'}) properties={'name': 'REVIEWS', 'indexes': ['id'], 'constraints': []}>) type='REVIEWED' properties={}>, <Relationship element_id='-2' nodes=(<Node element_id='-3' labels=frozenset({'BREWERIES'}) properties={'name': 'BREWERIES', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-4' labels=frozenset({'BEERS'}) properties={'name': 'BEERS', 'indexes': ['id'], 'constraints': []}>) type='BREWED' properties={}>, <Relationship element_id='-3' nodes=(<Node element_id='-2' labels=frozenset({'CITIES'}) properties={'name': 'CITIES', 'indexes': ['name'], 'constraints': []}>, <Node element_id='-1' labels=frozenset({'COUNTRIES'}) properties={'name': 'COUNTRIES', 'indexes': ['name'], 'constraints': []}>) type='IN' properties={}>, <Relationship element_id='-6' nodes=(<Node element_id='-3' labels=frozenset({'BREWERIES'}) properties={'name': 'BREWERIES', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-2' labels=frozenset({'CITIES'}) properties={'name': 'CITIES', 'indexes': ['name'], 'constraints': []}>) type='IN' properties={}>, <Relationship element_id='-4' nodes=(<Node element_id='-2' labels=frozenset({'CITIES'}) properties={'name': 'CITIES', 'indexes': ['name'], 'constraints': []}>, <Node element_id='-2' labels=frozenset({'CITIES'}) properties={'name': 'CITIES', 'indexes': ['name'], 'constraints': []}>) type='IN' properties={}>, <Relationship element_id='-5' nodes=(<Node element_id='-3' labels=frozenset({'BREWERIES'}) properties={'name': 'BREWERIES', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-1' labels=frozenset({'COUNTRIES'}) properties={'name': 'COUNTRIES', 'indexes': ['name'], 'constraints': []}>) type='IN' properties={}>, <Relationship element_id='-7' nodes=(<Node element_id='-4' labels=frozenset({'BEERS'}) properties={'name': 'BEERS', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-6' labels=frozenset({'STYLE'}) properties={'name': 'STYLE', 'indexes': ['name'], 'constraints': []}>) type='HAS_STYLE' properties={}>, <Relationship element_id='-8' nodes=(<Node element_id='-5' labels=frozenset({'REVIEWS'}) properties={'name': 'REVIEWS', 'indexes': ['id'], 'constraints': []}>, <Node element_id='-7' labels=frozenset({'USER'}) properties={'name': 'USER', 'indexes': ['name'], 'constraints': []}>) type='POSTED' properties={}>]>]

> By looking at the schema in the localhost we can see that there are these relationships:<br>
> [BREWERIES]--'BREWED'-->[BEERS]<br>
> [BEERS]--'HAS_STYLE'-->[STYLE]<br>
> [CITIES]--'IN'-->[COUNTRIES]<br>
> [CITIES]--'IN'-->[CITIES]<br>
> [BREWERIES]--'IN'-->[COUNTRIES]<br>
> [BREWERIES]--'IN'-->[CITIES]<br>
> [REVIEWS]--'POSTED'-->[USER]<br>
> [BEERS]--'REVIEWED'-->[REVIEWS]

In [23]:
query = """
        MATCH (a)-[r]->(b)
        RETURN DISTINCT labels(a) AS Start, type(r) AS Relationship, labels(b) AS End, COUNT(r)
        ORDER BY Relationship;
        """

result = execute_read(driver, query)

pprint(result)

[<Record Start=['BREWERIES'] Relationship='BREWED' End=['BEERS'] COUNT(r)=358873>,
 <Record Start=['BEERS'] Relationship='HAS_STYLE' End=['STYLE'] COUNT(r)=358873>,
 <Record Start=['CITIES'] Relationship='IN' End=['COUNTRIES'] COUNT(r)=12077>,
 <Record Start=['BREWERIES'] Relationship='IN' End=['CITIES'] COUNT(r)=50347>,
 <Record Start=['REVIEWS'] Relationship='POSTED' End=['USER'] COUNT(r)=2538044>,
 <Record Start=['BEERS'] Relationship='REVIEWED' End=['REVIEWS'] COUNT(r)=2537991>]

> But when we check for existing relationships in the our database and their count, the relationships [CITIES]--'IN'-->[CITIES] and [BREWERIES]--'IN'-->[COUNTRIES] don't show up, and as we can see below, there are no instances of these relationships.

In [24]:
query = """
        MATCH (c1:CITIES)-[r:IN]->(c2:CITIES) RETURN COUNT(r);
        """

result = execute_read(driver, query)

pprint(result)

[<Record COUNT(r)=0>]

In [25]:
query = """
        MATCH (c1:BREWERIES)-[r:IN]->(c2:COUNTRIES) RETURN COUNT(r);
        """

result = execute_read(driver, query)

pprint(result)

[<Record COUNT(r)=0>]

> Not sure if it makes sense to have <br>
[REVIEWS]--POSTED-->[USER] and <br>
[BEERS]--'REVIEWED-->[REVIEWES].<br>
We should look into reversing the direction of these relationships. Or changing the relationship names to REVIEWED_BY and POSTED_BY.

## 1.3 What properties does each label have?

In [26]:
query = """
        CALL db.schema.nodeTypeProperties()
        YIELD nodeType, propertyName
        RETURN nodeType AS Label, COLLECT(propertyName) AS Properties
        ORDER BY Label;
        """

result = execute_read(driver, query)

pprint(result)

[<Record Label=':`BEERS`' Properties=['name', 'notes', 'state', 'id', 'abv', 'retired', 'availability', 'brewery_id']>,
 <Record Label=':`BREWERIES`' Properties=['name', 'types', 'notes', 'state', 'id']>,
 <Record Label=':`CITIES`' Properties=['name']>,
 <Record Label=':`COUNTRIES`' Properties=['name']>,
 <Record Label=':`REVIEWS`' Properties=['id', 'date', 'score', 'taste', 'feel', 'overall', 'beer_id', 'text', 'smell', 'look']>,
 <Record Label=':`STYLE`' Properties=['name']>,
 <Record Label=':`USER`' Properties=['name']>]

> Let's just take a look at the max and min values of reviews:

In [ ]:
review_scores = ['score', 'taste', 'feel', 'overall','smell', 'look']

for score in review_scores:
    query = f"""
        MATCH (r:REVIEWS)
        WHERE r.{score} <> 'nan' AND r.{score} IS NOT NULL
        RETURN 
            MIN(TOFLOAT(r.{score})) AS min_{score}, 
            MAX(TOFLOAT(r.{score})) AS max_{score}
    """
    result = execute_read(driver, query)
    print(f"Score: {score}")
    pprint(result)
    print("\n\n")

Score: score
[<Record min_score=1.0 max_score=5.0>]



Score: taste
[<Record min_taste=1.0 max_taste=5.0>]



Score: feel
[<Record min_feel=1.0 max_feel=5.0>]



Score: overall
[<Record min_overall=1.0 max_overall=5.0>]



Score: smell
[<Record min_smell=1.0 max_smell=5.0>]



Score: look
[<Record min_look=1.0 max_look=5.0>]

# Question 2

## 2.1 Isolated Nodes

> Let's start by removing isolated nodes

In [27]:
query = """
        MATCH (n)
        RETURN COUNT(n) AS total_nodes;
        """
result = execute_read(driver, query)
pprint(result)

[<Record total_nodes=3215489>]

In [28]:
query = """
        MATCH (n)
        WHERE NOT (n)-[]-()
        RETURN labels(n) AS NodeLabel, COUNT(n) AS isolated_node_count
        ORDER BY isolated_node_count DESC;
        """
result = execute_read(driver, query)
pprint(result)

Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.FeatureDeprecationWarning} {category: } {title: This feature is deprecated and will be removed in future versions.} {description: Coercion of list to boolean is deprecated. Please consider using `NOT isEmpty(...)` instead.} {position: line: 3, column: 27, offset: 37} for query: '\n        MATCH (n)\n        WHERE NOT (n)-[]-()\n        RETURN labels(n) AS NodeLabel, COUNT(n) AS isolated_node_count\n        ORDER BY isolated_node_count DESC;\n        '

[<Record NodeLabel=['BEERS'] isolated_node_count=58873>,
 <Record NodeLabel=['BREWERIES'] isolated_node_count=50347>,
 <Record NodeLabel=['USER'] isolated_node_count=17290>,
 <Record NodeLabel=['CITIES'] isolated_node_count=11665>,
 <Record NodeLabel=['REVIEWS'] isolated_node_count=11208>,
 <Record NodeLabel=['COUNTRIES'] isolated_node_count=200>]

In [29]:
query = """
        MATCH (n)
        WHERE NOT (n)-[]-()
        DELETE n
        RETURN count(n);
        """
result = execute_write(driver, query)
pprint(result)

Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.FeatureDeprecationWarning} {category: } {title: This feature is deprecated and will be removed in future versions.} {description: Coercion of list to boolean is deprecated. Please consider using `NOT isEmpty(...)` instead.} {position: line: 3, column: 27, offset: 37} for query: '\n        MATCH (n)\n        WHERE NOT (n)-[]-()\n        DELETE n\n        RETURN count(n);\n        '

[<Record count(n)=149583>]

In [30]:
query = """
        MATCH (n)
        RETURN COUNT(n) AS total_nodes;
        """
result = execute_read(driver, query)
pprint(result)

[<Record total_nodes=3065906>]

## 2.2 Unique values

> Let's take a look a the unique values of each property and check for inconsistencies:

In [31]:
node_properties = {
    "BEERS": ["notes", "name", "state", "id", "retired", "availability", "brewery_id"],
    "BREWERIES": ["notes", "types", "id", "name", "state"],
    "CITIES": ["name"],
    "COUNTRIES": ["name"],
    "REVIEWS": ["text", "smell", "look", "taste", "feel", "overall", "beer_id", "id", "date", "score"],
    "STYLE": ["name"],
    "USER": ["name"]
}

In [ ]:
for label, properties in node_properties.items():
    for property in properties:
        query = f"""
            MATCH (n:{label})
            RETURN DISTINCT n.{property} AS {property}, COUNT(n) AS Count
            ORDER BY Count DESC
            LIMIT 10
        """
        result = execute_read(driver, query)
        print(f"Label: {label}, Property: {property}")
        pprint(result)
        print("\n\n")

Label: BEERS, Property: notes
[<Record notes='No notes at this time.' Count=309078>,
 <Record notes='nan' Count=46>,
 <Record notes='Single-Hop IPA' Count=26>,
 <Record notes='Brewed at De Proefbrouwerij.' Count=24>,
 <Record notes=' No notes at this time.' Count=23>,
 <Record notes='30 IBU' Count=22>,
 <Record notes='Permutation is our experimental series of small batch offerings, showcasing the unique visions and innovative concepts developed by our brewing and cellar crew.' Count=19>,
 <Record notes='20 IBU' Count=19>,
 <Record notes='70 IBU' Count=19>,
 <Record notes='The Intervals series is a platform that allows our brewers to experience and study the ingredients that we use in brewing. As we develop new flavors and experience those nuances we can share that with others. From single hop varieties to alternate grains we want you to learn with us! Experiment, learn, repeat!' Count=18>]



Label: BEERS, Property: name
[<Record name='Oktoberfest' Count=755>,
 <Record name='IPA' Count=633>,
 <Record name='Pale Ale' Count=620>,
 <Record name='Hefeweizen' Count=477>,
 <Record name='Oatmeal Stout' Count=443>,
 <Record name='Porter' Count=372>,
 <Record name='Saison' Count=361>,
 <Record name='India Pale Ale' Count=308>,
 <Record name='Pilsner' Count=301>,
 <Record name='Imperial Stout' Count=272>]



Label: BEERS, Property: state
[<Record state='nan' Count=60726>,
 <Record state='CA' Count=33649>,
 <Record state='PA' Count=17083>,
 <Record state='NY' Count=14572>,
 <Record state='CO' Count=14182>,
 <Record state='MI' Count=12690>,
 <Record state='IL' Count=12444>,
 <Record state='FL' Count=11898>,
 <Record state='GB2' Count=11390>,
 <Record state='WA' Count=10902>]



Label: BEERS, Property: id
[<Record id='82352' Count=1>,
 <Record id='214879' Count=1>,
 <Record id='320009' Count=1>,
 <Record id='246438' Count=1>,
 <Record id='8036' Count=1>,
 <Record id='108605' Count=1>,
 <Record id='345382' Count=1>,
 <Record id='255286' Count=1>,
 <Record id='29556' Count=1>,
 <Record id='202522' Count=1>]



Label: BEERS, Property: retired
[<Record retired='f' Count=240480>, <Record retired='t' Count=118393>]



Label: BEERS, Property: availability
[<Record availability=' Rotating' Count=98776>,
 <Record availability=' Limited (brewed once)' Count=72047>,
 <Record availability=' Year-round' Count=56800>,
 <Record availability='Rotating' Count=48002>,
 <Record availability='Limited (brewed once)' Count=34798>,
 <Record availability='Year-round' Count=19744>,
 <Record availability=' Winter' Count=6427>,
 <Record availability=' Fall' Count=5908>,
 <Record availability=' Summer' Count=5136>,
 <Record availability=' Spring' Count=3349>]



Label: BEERS, Property: brewery_id
[<Record brewery_id='1550' Count=1229>,
 <Record brewery_id='28383' Count=1225>,
 <Record brewery_id='17981' Count=1043>,
 <Record brewery_id='1146' Count=922>,
 <Record brewery_id='13307' Count=898>,
 <Record brewery_id='6045' Count=786>,
 <Record brewery_id='147' Count=736>,
 <Record brewery_id='16866' Count=723>,
 <Record brewery_id='1337' Count=652>,
 <Record brewery_id='140' Count=650>]



Label: BREWERIES, Property: notes
[<Record notes='No notes at this time.' Count=46475>,
 <Record notes='Hours:' Count=136>,
 <Record notes='nan' Count=85>,
 <Record notes=' No notes at this time.' Count=74>,
 <Record notes='Hours: ' Count=68>,
 <Record notes='OWNED BY ANHEUSER-BUSCH INBEV' Count=18>,
 <Record notes='On-premise brewing:' Count=16>,
 <Record notes='Per Omaha City Ordinance, as of October 1st 2006, this establishment is non-smoking throughout.' Count=15>,
 <Record notes='Hours' Count=13>,
 <Record notes='Opening hours:' Count=11>]



Label: BREWERIES, Property: types
[<Record types='Bar, Eatery' Count=13573>,
 <Record types='Store' Count=9726>,
 <Record types='Brewery' Count=8005>,
 <Record types='Brewery, Bar, Eatery' Count=2801>,
 <Record types='Bar, Eatery, Beer-to-go' Count=2789>,
 <Record types='Brewery, Bar, Beer-to-go' Count=2670>,
 <Record types='Bar' Count=2466>,
 <Record types='Brewery, Bar, Eatery, Beer-to-go' Count=2370>,
 <Record types='Brewery, Bar' Count=1360>,
 <Record types='Bar, Beer-to-go' Count=1258>]



Label: BREWERIES, Property: id
[<Record id='32541' Count=1>,
 <Record id='44736' Count=1>,
 <Record id='23372' Count=1>,
 <Record id='35328' Count=1>,
 <Record id='31561' Count=1>,
 <Record id='35975' Count=1>,
 <Record id='5618' Count=1>,
 <Record id='30916' Count=1>,
 <Record id='41278' Count=1>,
 <Record id='19730' Count=1>]



Label: BREWERIES, Property: name
[<Record name='Whole Foods Market' Count=162>,
 <Record name='Total Wine & More' Count=147>,
 <Record name='Cost Plus World Market' Count=118>,
 <Record name='Mellow Mushroom' Count=114>,
 <Record name="Trader Joe's" Count=88>,
 <Record name='Old Chicago' Count=78>,
 <Record name="BJ's Restaurant & Brewhouse" Count=68>,
 <Record name='World of Beer' Count=66>,
 <Record name='Yard House' Count=61>,
 <Record name='Wegmans' Count=58>]



Label: BREWERIES, Property: state
[<Record state='nan' Count=11271>,
 <Record state='CA' Count=3638>,
 <Record state='PA' Count=2454>,
 <Record state='NY' Count=2284>,
 <Record state='GB2' Count=2152>,
 <Record state='FL' Count=1595>,
 <Record state='IL' Count=1551>,
 <Record state='OH' Count=1518>,
 <Record state='MA' Count=1372>,
 <Record state='TX' Count=1342>]



Label: CITIES, Property: name
[<Record name='Thousand Palms' Count=1>,
 <Record name='Plant City' Count=1>,
 <Record name='Oklahoma City' Count=1>,
 <Record name='Brighton' Count=1>,
 <Record name='Seattle' Count=1>,
 <Record name='Mona Vale' Count=1>,
 <Record name='Riccione (RN)' Count=1>,
 <Record name='Belfast' Count=1>,
 <Record name='Destin' Count=1>,
 <Record name='Erpe-Mere' Count=1>]



Label: COUNTRIES, Property: name
[<Record name='US' Count=1>,
 <Record name='GB' Count=1>,
 <Record name='AU' Count=1>,
 <Record name='IT' Count=1>,
 <Record name='CA' Count=1>,
 <Record name='GR' Count=1>,
 <Record name='FR' Count=1>,
 <Record name='AT' Count=1>,
 <Record name='ES' Count=1>,
 <Record name='BE' Count=1>]



Label: REVIEWS, Property: text
[<Record text='\xa0\xa0' Count=1701899>,
 <Record text='\xa0\xa0 0%' Count=21785>,
 <Record text='\xa0\xa0 You had this beer. Write a review.' Count=705>,
 <Record text='\xa0\xa0 On tap at the brewery' Count=26>,
 <Record text='\xa0\xa0 C+ / ABOVE AVERAGE' Count=23>,
 <Record text='\xa0\xa0 Sampled from bottle' Count=22>,
 <Record text='\xa0\xa0 C / AVERAGE' Count=22>,
 <Record text='\xa0\xa0 On tap at brewery.' Count=21>,
 <Record text='\xa0\xa0 B- / WORTHY' Count=21>,
 <Record text=None Count=19>]



Label: REVIEWS, Property: smell
[<Record smell='nan' Count=1060483>,
 <Record smell='4.0' Count=392963>,
 <Record smell='3.5' Count=219353>,
 <Record smell='4.5' Count=204325>,
 <Record smell='4.25' Count=182230>,
 <Record smell='3.75' Count=164031>,
 <Record smell='3.0' Count=94814>,
 <Record smell='5.0' Count=54486>,
 <Record smell='4.75' Count=50008>,
 <Record smell='3.25' Count=43082>]

### 2.2.1 Remove leading and trailing blank spaces

> **1.** We'll start by removing leading and trailing blank spaces. By checking first what properties have those blank spaces. Which are: BEERS[notes,availability] and BREWERIES[notes]

In [32]:
for node, properties in node_properties.items():
    for prop in properties:
        print(f"Checking outter white spaces for: {prop} in {node}")
        query = f"""
                MATCH (n:{node})
                WHERE n.{prop} =~ "^\s.*|.*\s$"
                RETURN count(n) AS NodeCount
        """
        result = execute_read(driver, query)
        pprint(result)

Checking outter white spaces for: notes in BEERS
[<Record NodeCount=2287>]
Checking outter white spaces for: name in BEERS
[<Record NodeCount=0>]
Checking outter white spaces for: state in BEERS
[<Record NodeCount=0>]
Checking outter white spaces for: id in BEERS
[<Record NodeCount=0>]
Checking outter white spaces for: retired in BEERS
[<Record NodeCount=0>]
Checking outter white spaces for: availability in BEERS
[<Record NodeCount=248467>]
Checking outter white spaces for: brewery_id in BEERS
[<Record NodeCount=0>]
Checking outter white spaces for: notes in BREWERIES
[<Record NodeCount=315>]
Checking outter white spaces for: types in BREWERIES
[<Record NodeCount=0>]
Checking outter white spaces for: id in BREWERIES
[<Record NodeCount=0>]
Checking outter white spaces for: name in BREWERIES
[<Record NodeCount=0>]
Checking outter white spaces for: state in BREWERIES
[<Record NodeCount=0>]
Checking outter white spaces for: name in CITIES
[<Record NodeCount=0>]
Checking outter white spaces for: name in COUNTRIES
[<Record NodeCount=0>]
Checking outter white spaces for: text in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: smell in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: look in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: taste in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: feel in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: overall in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: beer_id in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: id in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: date in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: score in REVIEWS
[<Record NodeCount=0>]
Checking outter white spaces for: name in STYLE
[<Record NodeCount=0>]
Checking outter white spaces for: name in USER
[<Record NodeCount=0>]

In [33]:
white_space_nodes_prop = {
    "BEERS": ["notes", "availability"],
    "BREWERIES": ["notes"]
}

for node, properties in white_space_nodes_prop.items():
    for prop in properties:
        print(f"Deleting outter white spaces for: {prop} in {node}")
        query = f"""
                MATCH (n:{node})
                WHERE n.{prop} =~ "^\s.*|.*\s$"
                SET n.{prop} = TRIM(n.{prop})
                RETURN count(n) AS NodeCount
        """
        result = execute_write(driver, query)
        pprint(result)

Deleting outter white spaces for: notes in BEERS
[<Record NodeCount=2287>]
Deleting outter white spaces for: availability in BEERS
[<Record NodeCount=248467>]
Deleting outter white spaces for: notes in BREWERIES
[<Record NodeCount=315>]

### 2.2.2 Remove '\xa0' from REVIEWS

> **2.** Remove '\xa0', which represents non breaking spaces, a space character that prevents line breaks. For a more consistent formatting.

In [34]:
query = """
        MATCH (r:REVIEWS)
        WHERE r.text=~ '.*\\xa0.*' 
        RETURN COUNT(r) AS Count
"""
result = execute_read(driver, query)
pprint(result)

[<Record Count=2536660>]

> <strong style = 'color:red'>It works, but takes 30 minutes to run</strong>

In [ ]:
loop = 0
while True:
    query = """
    MATCH (r:REVIEWS)
    WHERE r.text CONTAINS '\xa0'
    WITH r LIMIT 100000
    SET r.text = TRIM(REPLACE(r.text, '\xa0', ''))
    RETURN COUNT(r) AS Count
    """
    
    result = execute_write(driver, query)
    count = result[0]['Count']
    
    loop += 1
    pprint(f'Loop number {loop}. Cleaned {count} reviews.')

    if count == 0:
        break

'Loop number 1, Cleaned 100000 relationships'
'Loop number 2, Cleaned 100000 relationships'
'Loop number 3, Cleaned 100000 relationships'
'Loop number 4, Cleaned 100000 relationships'
'Loop number 5, Cleaned 100000 relationships'
'Loop number 6, Cleaned 100000 relationships'
'Loop number 7, Cleaned 100000 relationships'
'Loop number 8, Cleaned 100000 relationships'
'Loop number 9, Cleaned 100000 relationships'
'Loop number 10, Cleaned 100000 relationships'
'Loop number 11, Cleaned 100000 relationships'
'Loop number 12, Cleaned 100000 relationships'
'Loop number 13, Cleaned 100000 relationships'
'Loop number 14, Cleaned 100000 relationships'
'Loop number 15, Cleaned 100000 relationships'
'Loop number 16, Cleaned 100000 relationships'
'Loop number 17, Cleaned 100000 relationships'
'Loop number 18, Cleaned 100000 relationships'
'Loop number 19, Cleaned 100000 relationships'
'Loop number 20, Cleaned 100000 relationships'
'Loop number 21, Cleaned 100000 relationships'
'Loop number 22, Cleaned 100000 relationships'
'Loop number 23, Cleaned 100000 relationships'
'Loop number 24, Cleaned 100000 relationships'
'Loop number 25, Cleaned 100000 relationships'
'Loop number 26, Cleaned 38044 relationships'
'Loop number 27, Cleaned 0 relationships'

In [36]:
query = """
        MATCH (r:REVIEWS)
        WHERE r.text=~ '.*\\xa0.*' 
        RETURN COUNT(r) AS Count
"""
result = execute_read(driver, query)
pprint(result)

[<Record Count=0>]

In [ ]:
query = """
        MATCH (r:REVIEWS)
        RETURN r
        LIMIT 10;
"""
result = execute_read(driver, query)
pprint(result)

## 2.3 Check for inconsistencies and redundancies

### 2.3.1 Property state in BEERS and BREWERIES

> Both BREWERIES and BEERS have the property 'state', we'll check if the BEER and its' BREWER have the same state.

In [40]:
# Check the number of relationships between beers and breweries
query = """
    MATCH (a:BREWERIES)-[r:BREWED]->(b:BEERS)
    RETURN COUNT(r) AS count
"""
result = execute_read(driver, query)
pprint(result)

[<Record count=358873>]

> Each beer is brewed by only one brewery:

In [41]:
# Check the number of beers that have been brewed by more than one brewery
query = """
    MATCH (a:BREWERIES)-[r:BREWED]->(b:BEERS)
    WITH b, COUNT(DISTINCT a) AS breweryCount
    WHERE breweryCount > 1
    RETURN COUNT(b) AS count
"""
result = execute_read(driver, query)
pprint(result)

[<Record count=0>]

> Only 132 have different values in state. Which are all the same cases: missing value in BEERS, but has value 'UT' in BREWERIES.

In [42]:
#Check the number of beers and breweries that don't have the same state
query = """
    MATCH (a:BREWERIES)-[r:BREWED]->(b:BEERS)
    WHERE NOT a.state = b.state 
    RETURN a.state , b.state, Count(r) AS count
"""
result = execute_read(driver, query)
pprint(result)

[<Record a.state='UT' b.state='nan' count=134>]

> We'll change the 'nan' properties in BEERS to 'UT'.

In [43]:
query = """
    MATCH (a:BREWERIES)-[r:BREWED]->(b:BEERS)
    WHERE b.state IS NULL OR a.state <> b.state
    SET b.state = a.state
    RETURN count(*) AS number_of_states_changed
"""
result = execute_write(driver, query)
pprint(result)

[<Record number_of_states_changed=134>]

> It can be considered redundant to have the same property twice that saves the same information. We could turn it into a Label, but we'll leave it as it is.

### 2.3.2 Property abv in BEERS

In [44]:
# Check for the top 10 beers with the highest ABV
query = """
    MATCH (b:BEERS)
    WHERE b.abv <> 'nan'
    RETURN b.name AS name, TOFLOAT(b.abv) AS abv
    ORDER BY abv DESC
    LIMIT 10
"""
result = execute_read(driver, query)  
pprint(result)

[<Record name='water' abv=100.0>,
 <Record name='Radiohead - OK Computer' abv=100.0>,
 <Record name="Earache: World's Shortest Album" abv=100.0>,
 <Record name='Dark Reckoning' abv=80.0>,
 <Record name='Snake Venom' abv=67.5>,
 <Record name='series 3' abv=66.0>,
 <Record name='Armageddon' abv=65.0>,
 <Record name='Start The Future' abv=60.0>,
 <Record name='SchorschbrÃ¤u Schorschbock 57%' abv=57.5>,
 <Record name='Belgian Pale Ale' abv=56.0>]

> As stated above, the strongest alcohol is Snake Venom. So we'll remove all of the others that appear above.

In [ ]:
# Remove the beers with an abv greater than 67.5, and use DETACH as they have relationships with other nodes
query = """
    MATCH (b:BEERS)  
    WHERE TOFLOAT(b.abv) > 67.5  
    DETACH DELETE b;
"""
result = execute_write(driver, query)

[]

In [46]:
# Let's take a look again at the top 10 beers with the highest ABV
query = """
    MATCH (b:BEERS)
    WHERE b.abv <> 'nan'
    RETURN b.name AS name, TOFLOAT(b.abv) AS abv
    ORDER BY abv DESC
    LIMIT 10
"""
result = execute_read(driver, query)  
pprint(result)

[<Record name='Snake Venom' abv=67.5>,
 <Record name='series 3' abv=66.0>,
 <Record name='Armageddon' abv=65.0>,
 <Record name='Start The Future' abv=60.0>,
 <Record name='SchorschbrÃ¤u Schorschbock 57%' abv=57.5>,
 <Record name='Belgian Pale Ale' abv=56.0>,
 <Record name='The End Of History' abv=55.0>,
 <Record name='Dark Streets of London' abv=52.0>,
 <Record name='Obilix' abv=45.0>,
 <Record name='SchorschbrÃ¤u Schorschbock 43%' abv=43.0>]

### 2.3.3 Check for inconsistencies in brewery_id and beer_id

> As we have seen above, each beer is connected to only one brewery. But we should check if the brewery_id property of the beer is the same as the brewery to which it's connected to. As we can see, there are no inconsistencies:

In [ ]:
# Check if the brewery connected is the same as brewery_id
query = """
    MATCH (a:BREWERIES)-[r:BREWED]->(b:BEERS)
    WHERE b.brewery_id <> a.id
    OR b.brewery_id = 'nan' OR b.brewery_id IS NULL
    RETURN COUNT(r) AS count
"""
result = execute_read(driver, query)
pprint(result)

[<Record count=0>]

> Same as before, the beer_id on the REVIEW matches the beer that it is connected to:

In [ ]:
# Check if the beer connected to the review is the same as the beer_id
query = """
    MATCH (a:REVIEWS)<-[r:REVIEWED]-(b:BEERS)
    WHERE b.id <> a.beer_id
    RETURN COUNT(r) AS count
    """
result = execute_read(driver, query)
pprint(result)

[<Record count=0>]

> No inconsistencies here.

## 2.4 Missing values

In [50]:
# We will start by checking NULL values and 'nan' values in all properties
nodes = ["BEERS", "BREWERIES", "CITIES", "COUNTRIES", "REVIEWS", "STYLE", "USER"]

for node in nodes: 
    query = f"""
            MATCH (n:{node})
            UNWIND keys(n) AS key
            WITH key
            WHERE n[key] IS NULL OR n[key] = 'nan'
            RETURN key, count(*) AS EmptyValuesCount
            ORDER BY key
    """
    result = execute_read(driver, query)
    print(f"Label: {node}")
    pprint(result)
    print("\n")

Label: BEERS
[<Record key='abv' EmptyValuesCount=38797>,
 <Record key='notes' EmptyValuesCount=46>,
 <Record key='state' EmptyValuesCount=60592>]


Label: BREWERIES
[<Record key='notes' EmptyValuesCount=85>,
 <Record key='state' EmptyValuesCount=11271>]


Label: CITIES
[<Record key='name' EmptyValuesCount=1>]


Label: COUNTRIES
[<Record key='name' EmptyValuesCount=1>]


Label: REVIEWS
[<Record key='feel' EmptyValuesCount=1060483>,
 <Record key='look' EmptyValuesCount=1060483>,
 <Record key='overall' EmptyValuesCount=1060483>,
 <Record key='smell' EmptyValuesCount=1060483>,
 <Record key='taste' EmptyValuesCount=1060483>]


Label: STYLE
[<Record key='name' EmptyValuesCount=1>]


Label: USER
[<Record key='name' EmptyValuesCount=1>]


> **BEERS**: There are missing values in abv (alcohol by volume) but we will leave it as it is. We changed some of the 'nan' values of state above, but there are still missing values, but we will leave it as it is too.

> **BREWERIES**: Missing values in state, but we'll leave it as it is. 

> **CITIES**: There is a 'nan' city connected to lots of different BREWERIES and COUNTRIES, we will remove this node, as it doesn't make sense for that many countries to be connected to it.

> **COUNTRIES**: There are 2 cities connected to a country with name 'nan', which are: Windhoek and Swakopmund. Both located in Namimbia, so we've decided to change it. 

> **STYLE**: Ony has one beer related to it: American Three Threads. We'll delete this node.

> **USER**: no name, but has reviews. We will leave it as it is.

> **REVIEWS**: has NULL values in some of the ratings, but it has values score.

> Convert all 'nan' to NULL, as converting it to null will remove those properties from the node and will save more space.

### 2.4.1 Missing value in CITIES

>There are 19 countries, and 58 breweries connected to the 'nan' city. We will remove this node, as it is most likely these relationships are wrong and it's an inconsistency.

In [51]:
# Check for labels connected to the city with the name 'nan'
query = """
    MATCH (c:CITIES)-[r]-(b)
    WHERE c.name = 'nan'
    RETURN DISTINCT labels(b) AS connected_labels, COUNT(r) AS Count

    """
result = execute_read(driver, query)
pprint(result)

[<Record connected_labels=['BREWERIES'] Count=58>,
 <Record connected_labels=['COUNTRIES'] Count=19>]

In [59]:
# Delete the node
query = """
   MATCH (c:CITIES)
   WHERE c.name = 'nan'
   DETACH DELETE c
   RETURN COUNT(c) AS number_of_nan_cities
    """
result = execute_write(driver, query)
print(result)

[<Record number_of_nan_cities=0>]

### 2.4.2 Missing value in COUNTRY

In [60]:
# Check for cities connected to the 'nan' country
query = """
            MATCH (c:COUNTRIES)--(b:CITIES)
            WHERE c.name = 'nan' OR c.name IS NULL
            RETURN b
    """
result = execute_read(driver, query)
pprint(result)

[<Record b=<Node element_id='9005' labels=frozenset({'CITIES'}) properties={'name': 'Swakopmund'}>>,
 <Record b=<Node element_id='4423' labels=frozenset({'CITIES'}) properties={'name': 'Windhoek'}>>]

> Both these cities belong to the country of Namibia.

In [ ]:
# Change 'nan' country name to Namibia
query = f"""
        MATCH (c:COUNTRIES)
        WHERE c.name IS NULL or c.name = 'nan'
        SET c.name = 'Namibia'
    """
result = execute_write(driver, query)

[]

In [64]:
query = f"""
        MATCH (c:COUNTRIES)
        WHERE c.name='Namibia'
        RETURN c
    """
result = execute_read(driver, query)
pprint(result)

[<Record c=<Node element_id='133' labels=frozenset({'COUNTRIES'}) properties={'name': 'Namibia'}>>]

### 2.4.3 Missing value in STYLE

In [66]:
# Check for beers connected to the 'nan' style
query = """
            MATCH (s:STYLE)--(b:BEERS)
            WHERE s.name = 'nan'
            RETURN b
    """
result = execute_read(driver, query)
pprint(result)

[<Record b=<Node element_id='269155' labels=frozenset({'BEERS'}) properties={'notes': 'No notes at this time.', 'abv': 'nan', 'name': 'American Three Threads', 'retired': 't', 'availability': 'Limited (brewed once)', 'brewery_id': '14', 'state': 'MA', 'id': '24360'}>>]

> There is only one beer connected to the Style with value 'nan', let's check if it is connected to any other beer, or if there are other beers with the same name.

In [67]:
# Do beers have more than 1 style? 

query = """
        MATCH (b:BEERS)-[:HAS_STYLE]->(s:STYLE)
        WITH b, COUNT(s) AS styles_count
        WHERE styles_count > 1
        RETURN b.name AS beer_name, styles_count
    """
result = execute_read(driver, query)
pprint(result)

[]

> Each beer is connected to only 1 style.

In [68]:
# Check for other beers with the name 'American Three Threads'
query = """
            MATCH (n:BEERS)
            WHERE n.name = 'American Three Threads'
            RETURN n
    """
result = execute_read(driver, query)
pprint(result)

[<Record n=<Node element_id='269155' labels=frozenset({'BEERS'}) properties={'notes': 'No notes at this time.', 'abv': 'nan', 'name': 'American Three Threads', 'retired': 't', 'availability': 'Limited (brewed once)', 'brewery_id': '14', 'state': 'MA', 'id': '24360'}>>]

> There only exists one beer named 'American Three Threads'. Since the 'nan' style node isn't providing any value, we will delete this node.

In [ ]:
# Delete the style node with the name 'nan'
query = """
   MATCH (s:STYLE)
    WHERE s.name = 'nan'
    DETACH DELETE s
    RETURN COUNT(s) AS number_of_nan_styles;
    """
result = execute_write(driver, query)
pprint(result)

[<Record number_of_nan_styles=0>]

### 2.4.5 Set all 'nan' to NULL

In [ ]:
nodes = ["BEERS", "BREWERIES", "USER"]

In [ ]:
nan_values_dict = {
    "BEERS": ["abv", "notes", "state"],
    "BREWERIES": ["notes", "state"],
    "USER": ["name"]
}

for node, properties in nan_values_dict.items():
    for prop in properties:
        print(f"Correcting missing {prop} in {node}")
        query = f"""
                MATCH (n:{node})
                WHERE n.{prop} = 'nan'
                SET n.{prop} = NULL
                RETURN count(*) AS number_of_values_changed
        """
        result=execute_write(driver, query)
        pprint(result)

Correcting missing abv in BEERS
[<Record number_of_values_changed=38797>]
Correcting missing notes in BEERS
[<Record number_of_values_changed=46>]
Correcting missing state in BEERS
[<Record number_of_values_changed=60592>]
Correcting missing notes in BREWERIES
[<Record number_of_values_changed=85>]
Correcting missing state in BREWERIES
[<Record number_of_values_changed=11271>]
Correcting missing smell in REVIEWS

Transaction failed and will be retried in 0.9302991061908583s (There is not enough memory to perform the current task. Please try increasing 'dbms.memory.heap.max_size' in the neo4j configuration (normally in 'conf/neo4j.conf' or, if you are using Neo4j Desktop, found through the user interface) or if you are running an embedded installation increase the heap by using '-Xmx' command line flag, and then restart the database.)

TransientError: {code: Neo.TransientError.General.OutOfMemoryError} {message: There is not enough memory to perform the current task. Please try increasing 'dbms.memory.heap.max_size' in the neo4j configuration (normally in 'conf/neo4j.conf' or, if you are using Neo4j Desktop, found through the user interface) or if you are running an embedded installation increase the heap by using '-Xmx' command line flag, and then restart the database.}

In [ ]:
# Set NULL the scores in reviews that have nan separatly as it takes a lot of memory to run
reviews_nan_prop = ["smell", "look", "taste", "feel", "overall", "score"]
query = f"""
        MATCH (n:REVIEWS)
        WHERE n.smell = 'nan' OR n.look = 'nan' OR n.taste = 'nan' OR n.feel = 'nan' OR n.overall = 'nan' OR n.score = 'nan'
        SET
                n.smell = CASE WHEN n.smell = 'nan' THEN NULL END,
                n.look = CASE WHEN n.look = 'nan' THEN NULL END,
                n.taste = CASE WHEN n.taste = 'nan' THEN NULL END,
                n.feel = CASE WHEN n.feel = 'nan' THEN NULL END,
                n.overall = CASE WHEN n.overall = 'nan' THEN NULL END,
                n.score = CASE WHEN n.score = 'nan' THEN NULL END
        RETURN count(*) AS number_of_values_changed
"""
result = execute_write(driver, query)
pprint(result)

In [ ]:
# Set the review texts with no values to null
batch = 100_000
processed = 0
while True:
    query = f"""
            MATCH (n:REVIEWS)
            WHERE n.text = ''
            WITH n LIMIT {batch}
            SET n.text = NULL
            RETURN count(n) AS number_of_values_changed
    """
    result = execute_write(driver, query)
    if result[0]['number_of_values_changed'] == 0:
        break
    processed += result[0]['number_of_values_changed']
    print(f"Processed {processed} nodes")

> We will also set 'No noted at this time.' to nan, as it doesn't represent anything. And logically it would make more sense and saves space.

In [76]:
query = f"""
    MATCH (n:BEERS)
    WHERE n.notes = "No notes at this time."
    SET n.notes = NULL
    RETURN count(*) AS number_of_values_changed
    """
result = execute_write(driver, query)
print(node)
pprint(result)

REVIEWS
[<Record number_of_values_changed=309097>]

## 2.5 Duplicate values

In [32]:
unique_properties = ["id", "name"]

for node, properties in node_properties.items():
    for prop in unique_properties:
        if prop in properties: 
            print(f"Checking for duplicated values for '{prop}' in '{node}'")

            query = f"""
                    MATCH (n:{node})
                    WITH TRIM(n.{prop}) AS {prop}, count(n) AS count
                    WHERE count > 1
                    RETURN {prop}, count
                    ORDER BY count DESC
                    LIMIT 5
            """
            result = execute_read(driver, query)
            pprint(result)
            print("\n")
    print("-------------------------------")

Checking for duplicated values for 'id' in 'BEERS'
[]


Checking for duplicated values for 'name' in 'BEERS'
[<Record name='Oktoberfest' count=755>,
 <Record name='IPA' count=633>,
 <Record name='Pale Ale' count=620>,
 <Record name='Hefeweizen' count=477>,
 <Record name='Oatmeal Stout' count=443>]


-------------------------------
Checking for duplicated values for 'id' in 'BREWERIES'
[]


Checking for duplicated values for 'name' in 'BREWERIES'
[<Record name='Whole Foods Market' count=162>,
 <Record name='Total Wine & More' count=147>,
 <Record name='Cost Plus World Market' count=118>,
 <Record name='Mellow Mushroom' count=114>,
 <Record name="Trader Joe's" count=88>]


-------------------------------
Checking for duplicated values for 'name' in 'CITIES'
[]


-------------------------------
Checking for duplicated values for 'name' in 'COUNTRIES'
[]


-------------------------------
Checking for duplicated values for 'id' in 'REVIEWS'
[<Record id=None count=19>]


-------------------------------
Checking for duplicated values for 'name' in 'STYLE'
[]


-------------------------------
Checking for duplicated values for 'name' in 'USER'
[]


-------------------------------

> Duplicates of names in BEERS and BREWERIES is ok. 

> There are 19 reviews that have no properties and no relationships, of which we tried to delete but couldn't.

In [ ]:
# #There are 19 REVIEWS with no id property and have no info associated
# query = """
#     MATCH (n:REVIEWS)
#     WHERE n.id IS NULL
#     RETURN n
# """
# result = execute_read(driver, query)
# pprint(result)

In [ ]:
# #To remove the 19 reviews
# query = """
#     MATCH (n:REVIEWS)
#     WHERE n.id IS NULL
#     DELETE n
#     RETURN count(n)
# """
# result = execute_write(driver, query)
# pprint(result)

[<Record count(n)=19>]

In [ ]:
# # To see if they were deleted:
# query = """
#     MATCH (n:REVIEWS)
#     WHERE n.id IS NULL
#     RETURN n
# """
# result = execute_read(driver, query)
# pprint(result)

[<Record n=<Node element_id='921375' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='921921' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='922467' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='923013' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='923559' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='924105' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='924651' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='925197' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='925743' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='926289' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='926835' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='927381' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='927927' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='928473' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='929019' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='929565' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='930111' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='930657' labels=frozenset() properties={}>>,
 <Record n=<Node element_id='931203' labels=frozenset() properties={}>>]

## 2.6 Typecasting

In [ ]:
query = """
        MATCH (n:BEERS)
        WHERE n.abv IS NOT NULL
        SET n.abv = toFloat(n.abv)
        RETURN COUNT(n) as Count
"""
res = execute_write(driver, query)
pprint(res)

In [ ]:


props = ["smell", "look", "taste", "feel", "overall", "score"]

batch = 50_000
processed_count = 0
while True: 
    query = f"""
            MATCH (n:REVIEWS)
            WITH n ORDER BY id(n) SKIP {processed_count} LIMIT {batch}
            WHERE n.{props[0]} IS NOT NULL or n.{props[1]} IS NOT NULL or n.{props[2]} IS NOT NULL or n.{props[3]} IS NOT NULL or n.{props[4]} IS NOT NULL or n.{props[5]} IS NOT NULL
            SET 
                    n.{props[0]} = CASE WHEN n.{props[0]} IS NOT NULL THEN toFloat(n.{props[0]}) END,
                    n.{props[1]} = CASE WHEN n.{props[1]} IS NOT NULL THEN toFloat(n.{props[1]}) END,
                    n.{props[2]} = CASE WHEN n.{props[2]} IS NOT NULL THEN toFloat(n.{props[2]}) END,
                    n.{props[3]} = CASE WHEN n.{props[3]} IS NOT NULL THEN toFloat(n.{props[3]}) END,
                    n.{props[4]} = CASE WHEN n.{props[4]} IS NOT NULL THEN toFloat(n.{props[4]}) END,
                    n.{props[5]} = CASE WHEN n.{props[5]} IS NOT NULL THEN toFloat(n.{props[5]}) END
            RETURN COUNT(n) as Count
    """
    res = execute_write(driver, query)
    
    if res[0]['Count'] == 0:
            break
        
    processed_count += res[0]['Count']        
    print(f"Processed {processed_count} nodes")

In [ ]:

# date format takes less space than string 
batch = 100_000
processed_count = 0
while True:
    query = f"""
            MATCH (n:REVIEWS)
            WHERE n.date IS NOT NULL
            WITH n ORDER BY id(n) SKIP {processed_count} LIMIT {batch}
            SET n.date = date(n.date)
            RETURN COUNT(n) as Count
    """
    res = execute_write(driver, query)
    
    if res[0]['Count'] == 0:
        break
    
    processed_count += res[0]['Count']
    print(f"Processed {processed_count} nodes")

In [ ]:

query = """
        MATCH (n:BEERS)
        WHERE n.retired IS NOT NULL
        RETURN COUNT(n) as Count
"""
res = execute_read(driver, query)
pprint(res)

In [ ]:
query = """
        MATCH (n:BEERS)
        RETURN COUNT(n) as Count
"""
res = execute_read(driver, query)
pprint(res)

In [ ]:
# true / false takes less space 
query = """
        MATCH (b:BEERS)
        WITH b,
        CASE 
            WHEN b.retired = 'f' THEN FALSE 
            WHEN b.retired = 't' THEN TRUE 
        END AS new_value
        SET b.retired = new_value
        RETURN COUNT(b) AS Count
"""
res = execute_write(driver, query)
pprint(res)

## 2.7 Invert relationship

> <strong style="color:red">Instead of actually reverting, we can change the name of the relationship</strong>

# Question 3

### 3.1 How many reviews has the beer with the most reviews?

### 3.2 Which three users wrote the most reviews about beers?

### 3.3 Find all beers that are described with following words: 'fruit', 'complex', 'nutty', 'dark'.

### 3.4 Which top three breweries produce the largest variety of beer styles?

### 3.5 Which country produces the most beer styles?

# Question 4

### 4.1 Using ABV score, find five strongest beers, display their ABV score and the corresponding brewery? Keep in mind that the strongest known beer is Snake Venom, and deal with the error entries in the database.

### 4.2 Using the answer from question 2, find the top 5 distict beer styles with the highest average score of smell + feel that were reviewed by the third most productive user. Keep in mind that cleaning the database earlier should ensure correct results.

# Question 5

### 5.1 Which two countries are most similiar when it comes to their top five most produced Beer styles?

### 5.3 Users are connected together by their reviews of beers, taking into consideration the "smell" score they assign as a weight, how many communities are formed from these relationships? How many users are in the three largest communities?

> For this question we've decided to use the Label Propagation Algorithm as shown in the practical class.

<strong style='color:red'>I have to check this again</strong>

> To start with, we need to project a subgraph that contains only the relationships that are relevant to our question. We need to get a graph that connects users to each other through the beers they review, but there isnâ€™t a direct relationship between the users. So weâ€™ll have to connect them through: User --> Posted -->Reviews and Reviews --> Reviewed --> Beers <br>
> Note that the smell must we used as weight!

In [ ]:
query = """
        CALL gds.graph.project.cypher(
        
            'exercise_5_3',
            
            'MATCH (n:User) RETURN id(n) AS id',
            
            'MATCH (u1:USER)-[:POSTED]-(r1:REVIEWS)-[:REVIEWED]-(b:BEERS)
            -[:REVIEWED]-(r2:REVIEWS)-[:POSTED]-(u2:USER) 
            
            WHERE id(u1)<>id(u2) AND r1.beer_id = r2.beer_id
            RETURN id(u1) AS source, id(u2) AS target, (1 / (1 + abs(r1.smell - r2.smell))) AS weight')
        """

result = execute_read(driver, query)

pprint(result)

> We use the difference between the score that the users give to smell as weight. Since the higher the weight, then more similar the users are. As they have given a similar score to smell.

In [ ]:
#Find the total number of communities:
query = """
    CALL gds.labelPropagation.stream('exercise_5_3')
    YIELD nodeId, communityId AS Community
    RETURN count(distinct Community) AS number_of_communities
"""

result = execute_read(driver, query)

pprint(result)

> From here, we get that there are ---- communities

In [ ]:
# Find the top 3 largest communities, and the number of users:
query = """
            CALL gds.labelPropagation.stream('exercise_5_3')
            YIELD nodeId, communityId AS Community
            
            WITH gds.util.asNode(nodeId).username AS Name, Community
            RETURN Community, count(*) as community_size
            ORDER BY community_size desc
            limit 3
        """

result = execute_read(driver, query)

pprint(result)

> LIMIT 3 to get top 3, since we are ordering it in descending order.